problem_images/*
temp_exposure/*
similar_images/group_*/*
.DS_Store
/data/*
photoenv/**
__pycache__/*
*.pyc
temp_test_images/*.jpg
real_images/*.jpg
grouped_output/**
real_images/multiple_photo/*.jpg
report.csv
artifact_overlays/*.jpg
